<h1>Joe's Volunteer Project Manager</h1>

<h3>Current Projects:</h3>

<%# <form action="/projects">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Search</button>
</form> %>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>Oops! You haven't added any projects. Add a new project below.</p>
<% end %>

<h4>Add a new project</h4>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_title">Project name</label>
    <input id="project_title" name="project_title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Add project</button>
</form>
